<div class="picker animated animate-fast">
  <div class="picker-checkbox-panel">
     <ul >
        {{#each data}}
            <li class="options-item" data-val="{{value}}">{{text}}</li>
        {{/each}}
        </ul>
  </div>
</div>